<html>
<head>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>YOLO</title>
</head>
<body class="indexBody">
    <div class="content">
        <div class="text">
            <h2 id="title">You Only Live Once!</h2>
            <br />
            <p id="link">@Html.ActionLink("Go to list of Locations", "Index", "Locations")</p>
        </div>
    </div>
</body>

</html>
